<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="{{$index}}"data-ng-class="{active : rows.type}" data-ng-repeat="rows in carouselData"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item" data-ng-class="{active : rows.type}" 
      	   data-ng-repeat="rows in carouselData">
        <img data-ng-src="{{rows.url}}" alt="Image">
        <div class="carousel-caption">
          <h3>{{rows.hTag}}</h3>
          <p>{{rows.pTag}}</p>
        </div>      
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="{{hash}}#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="{{hash}}#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

 